body{
    background: #D8E6E7;
    overflow-y: hidden;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

*, html, body, p, ul, li{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 18px;
    font-family: Roboto;
}

h2{
    font-size: 1.6rem;
    font-weight: 300;
}

h3{
    font-size: 1.33rem;
    font-weight: 500;
}

.lg-heading{
    font-size: 2rem;
    font-weight: 300;
    color: #333539;
}

.default-text{
    font-size: 0.77rem;
    color: #282A2E;
}

.sm-text{
    font-size: 0.67rem;
    color: #4E5564;
}

.md-text{
    font-size: 0.88rem;
    color: #282A2E;
}

.chat-container{
    max-width: 1128px;
    display: block;
    margin: 0 auto;
    margin-top: 2.4rem;
    justify-content: center;
    background-color: #FFF;
}

.left-col-list::-webkit-scrollbar, .accord-contact-container::-webkit-scrollbar, .chat-main::-webkit-scrollbar  {
    height: 0.55rem;
    margin-right: 10px;
    width: 0.22rem;
    background: #fff;
}

.left-col-list::-webkit-scrollbar-track, .accord-contact-container::-webkit-scrollbar-track, .chat-main::-webkit-scrollbar-track {
    height: 0.56rem;
    width: 0.22rem;
    background: #D8E6E7;
}

.left-col-list::-webkit-scrollbar-thumb, .accord-contact-container:-webkit-scrollbar-thumb, .chat-main:-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.5);
    opacity: 0.3;
    border-radius: 1ex;
    /*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/
}

.left-col-list::-webkit-scrollbar-corner, .accord-contact-container::-webkit-scrollbar-corner, .chat-main::-webkit-scrollbar-corner {
    background: #fff;
}

.left-col-list::-webkit-scrollbar-thumb, .accord-contact-container::-webkit-scrollbar-thumb, .chat-main::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.5);
    opacity: 0.3;
    border-radius: 1ex;
}

.send-messages-col textarea::-webkit-scrollbar{
    height: 0rem;
    width: 0rem;
    background: transparent;
}

.send-messages-col textarea::-webkit-scrollbar-track{
    height: 0rem;
    width: 0rem;
    background: transparent;
}