body{
    background: #D8E6E7;
    overflow-y: hidden;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

*, html, body, p, ul, li{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 18px;
    font-family: Roboto;
}

.lg-heading{
    font-size: 2rem;
    font-weight: 300;
    color: #333539;
}

.sm-text{
    font-size: 0.67rem;
}

.chat-container{
    max-width: 1128px;
    display: block;
    margin: 0 auto;
    
    background-color: #FFF;
}

.left-col-list::-webkit-scrollbar {
    height: 0.55em;
    width: 0.22em;
    background: #fff;
}

.left-col-list::-webkit-scrollbar-track {
    height: 0.56em;
    width: 0.22em;
    background: #D8E6E7;
}

.left-col-list::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.5);
    opacity: 0.3;
    border-radius: 1ex;
    /*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/
}

.left-col-list::-webkit-scrollbar-corner {
    background: #fff;
}

.left-col-list::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.5);
    opacity: 0.3;
    border-radius: 1ex;
}
