.create-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 0.77rem;
    text-transform: uppercase;
    text-align: center;

    background: #76CBC6;
    border-radius: 3px; 
    border: none;
    width: 100%;

    color: #FFF;
    padding: 0.84rem 0em;

    margin: 0px 0px 1.1rem 0px;
    cursor: pointer;

    transition: 0.1s ease-in-out;

    max-width: 264px;
    border: solid 1px #76CBC6;
}

.cancel-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 0.77rem;
    text-transform: uppercase;
    text-align: center;

    background-color: transparent;
    border-radius: 3px; 
    border: solid 1px #EC5252;
    width: 100%;

    color: #EC5252;
    padding: 0.84rem 0em;

    margin: 0px 0px 1.1rem 0px;
    cursor: pointer;

    transition: 0.1s ease-in-out;

    max-width: 178px;
}

.create-btn.disabled{
    background: #D8E6E7;;
}

.create-btn-transparent{
    border: solid 1px #76CBC6;

    color: #76CBC6;
    padding: 0.67rem 0em;

    background-color: transparent;

    max-width: 266px;
    display: block;
    margin: 0 auto;

}

.create-btn-transparent:hover{
    color: #47BAB3;
    border: solid 1px #47BAB3;
    background-color: transparent !important;
}

.create-btn-transparent:focus, .create-btn-transparent:active{
    color: #8BBDBA;
    border: solid 1px #8BBDBA;
    background-color: transparent;
}

.create-btn:hover{
    background-color: #47BAB3;
    
}

.create-btn:focus, .create-btn:active{
    background-color: #8BBDBA;
}

.cancel-btn:hover{
    background-color: #EC5252;
    color: #FFF;
}

.cancel-btn:active, .cancel-btn:focus{
    background-color: #C36767;;
    color: #FFF;
}

.chat--create-btn{
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}


.all-contacts-btn{
    display: flex;
    width: 100%;
    border: none;
    align-items: center;
    font-family: Roboto;
    font-size: 0.88rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    color: #4E5564;
    margin-top: 0.6rem;
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
    background-color: #FFF;
}

.all-contacts-btn svg{
    margin-right: 9px;
}

.all-contacts-btn:hover{
    background: #E4EEEF;
}

.all-contacts-btn.active{
    background: #E4EEEF;
}

.cancel-create-btn{
    border: none;
    background: #D8E6E7;
    font-size: 0.72rem;
    position: relative;
    z-index: 2;
    padding: 0.56rem 1.35rem;
    border-radius: 0.13rem;

}

.cancel-create-btn:hover, .cancel-create-btn:hover:before, .cancel-create-btn:hover:after{
    background-color: #E6EFEF;
}

.cancel-create-btn:before, .cancel-create-btn:after{
    content:'';
    position:absolute;
    left:-0.3rem;
    width:1em;
    height:1.22rem;
    background:#D8E6E7;
    bottom: 0.1rem;

}

.cancel-create-btn.disabled, .cancel-create-btn.disabled:before, .cancel-create-btn.disabled:after{
    background: #E9E9E9;
}

.cancel-create-btn:before{
    top: 0.1rem;
    transform: rotate(30deg);
}

.cancel-create-btn:after{
    transform: rotate(-30deg);
    bottom: 0.1rem;
}

.edit-btn-sm{
    padding: 0.4rem 0.9rem;
    border: none;
    display: flex;
    align-items: center;
    font-size: 0.72rem;
    display: flex;
    align-items: center;
    color: #FFF;
    margin: 0rem 0.45rem;
    border-radius: 3px;
    font-weight: normal;
}

.edit-btn-sm.delete-message-btn{
    background-color: #F6544B;
}

.edit-btn-sm.edit-message-btn{
    background: #76CBC6;
}

.edit-btn-sm.resend-message-btn{
    background: #686F7F;
}

.edit-btn-sm.edit-message-btn{
    border-radius: 3px;
}


.edit-btn-sm svg{
    margin-right: 0.22rem;
    height: 1rem;
    width: 1rem;
}