.chat-created, .private-chat, .common-chat, .seen-messages-screen, .common-chat-settings{
    display: none;
    position: relative;
}

.chat.active, .private-chat.active, .common-chat.active, .seen-messages-screen.active, .common-chat-settings.active{
    display: block;
}

.chat-main{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;

}

.chat-container-main{
    position: relative;
}

.chat .lg-heading{
    padding: 7rem 0rem;
    text-align: center;
}

.chat .first-message{
    text-align: center;
    font-size: 1.16rem;
    padding-bottom: 0.5rem;
    font-weight: 300;
}

.chat-new-hint svg{
    display: block;
    margin: 0 auto;
}

.chat-main{
    padding: 0.5rem 2.5rem 5rem 1.58rem;
    margin: 0rem 0.5rem 1rem 0rem;
}

.private-chat .chat-main{
    margin-top: 1.1rem;
}

.chat-main-message{
    display: flex;
}

.chat-message-text{
    padding: 1rem 1.8rem;
}

.chat-main-message.your-message{
    justify-content: flex-end;
}

.chat-main-message.your-message svg{
    order: 2;
}

.chat-main-message.your-message .chat-message-text{
    order: 1;
}

.chat-main-message.your-message .seen-message{
    order: 0;
    align-self: center;
    text-align: center;
    margin-right: 0.72rem;
}

.chat-main-message{
    margin-top: 1.44rem;
}

.chat-main-message.your-message .chat-message-text{
    background: #E4EEEF; 
    border-bottom-left-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    margin-right: 0.66rem;
}

.chat-main-message.strange-message .chat-message-text{
    background: #EEEEEE;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    margin-left: 0.66rem;
}

.chat-main-message .strange-message{
    display: flex;
    align-self: bottom;
}

.chat-main-message .chat-message-text{
    font-size: 0.77rem;
    font-weight: 400;
}

.quoted-message-text{
    font-size: 0.66rem;
    font-weight: 300;
    display: flex;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #CED3DD;
}

.quoted-message-text svg{
    display: block;
    margin-top: 5px;
    margin-right: 7px;
}

.seen-message p{
    font-size: 0.67rem;
    color: #4E5564;
}

.message-info-icon{
    margin-left: 0.33rem;
    cursor: pointer;
}

.message-info-icon:hover ~ .hide-seen-info{
    display: block;
    height: auto;
}

.hide-seen-info:after{
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #FFF;
    bottom: -0.25rem;
    left: 1.11rem;
    transform: rotate(45deg);
    z-index: 0;

}

.hide-seen-info{
    background-color: #FFF;
    padding: 1.22rem 1.22rem 1.22rem 0.77rem;
    box-shadow: 0px 5px 20px rgba(36, 52, 83, 0.12);
    position: absolute;
    border-radius: 0.35rem;
    left:-0.6rem;
    bottom: 1.9rem;
    white-space: nowrap;
    z-index: 1;
    font-weight: 300;
    display: none;
}

.seen-message-info--container{
    position: relative;
    
    display: flex;
    align-self: flex-end;
}


/* COMMON CHAT */

.common-chat .message-parent-info{
    background-color: #FFF;
    padding: 1.22rem 1.22rem 1.22rem 0.77rem;
    box-shadow: 0px 5px 20px rgba(36, 52, 83, 0.12);
    position: absolute;
    border-radius: 0.35rem;
    right: 0;
    font-size: 0.67rem;
    color: #4E5564;
    bottom: 3.5rem;
    white-space: nowrap;
    z-index: 1;
    font-weight: 300;
    
    display: none;
};

.common-chat .message-parent-info:after{
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    z-index: 111;

}

.chat-main-message{
    position: relative;
    cursor: pointer;
}

.chat-main-message input{
    display: none;
}

.common-chat .chat-main-message .seen-message, .private-chat .chat-main-message .seen-message{
    font-weight: 300;
}

.common-chat .chat-main-message svg:hover{
    cursor: pointer;
}

.common-chat .chat-main-message svg:hover ~ .message-parent-info{
    display: block;
}

.common-chat .chat-main-message svg:hover{
    fill:#76CBC6;
}

.seen-messages-screen .chat-main-message{
    margin-top: 0;
}

.seen-messages-screen .chat-main-message .chat-message-text{
    white-space: normal;
    width: 90%;
}

.chat-heading-back{
    justify-content: flex-end;
}


/* SEEN MESSAGE COMMON CHAT SCREEN */

.seen-messages-screen .chat-heading{
    padding-top: 2.5rem;
}

.seen-messages-screen .chat-heading-settings{
    padding-left: 2rem;
}

.seen-messages-screen .chat-message-text {
    padding: 0.6rem 1.4rem;
}

.seen-messages-screen .chat-heading > div svg {
    padding-right: 0rem;
}

.seen-messages-screen--main ul li{
    list-style: none;
    display: flex;
    font-size: 0.72rem;
    margin-bottom: 0.77rem;
    color: #282A2E;
}

.seen-messages-screen--main{
    display: flex;
    max-height: 60vh;
    overflow-y: scroll;
}

.seen-messages-screen--main .col:nth-child(1){
    padding: 0rem 3.7rem 0rem 5.7rem;
    border-right: solid 1px #D8E6E7;
}

.seen-messages-screen--main .col:nth-child(2){
    padding: 0rem 0rem 0rem 3.2rem;
}

.seen-messages-screen--main ul li svg{
    margin-right: 0.4rem;
}

.seen-messages-screen .chat-main-message.disabled .chat-message-text {
    opacity: 1 !important;
}

/* PRIVATE CHAT SETTINGS */

.common-chat-settings .chat-heading{
    display: flex;
    align-items: center;
}

.common-chat-settings .new-chat-heading .new-chat-input--container{
    margin: 0rem;
    width: 100%;
}

.common-chat-settings .new-chat-heading{
    justify-content: flex-start;
    margin: 0rem 2rem 3rem 1.82rem;
}

.common-chat-settings .col h4, .seen-messages-screen--main .col h4{
    font-weight: normal;
}

.common-chat-settings .col:nth-child(1){
    padding: 0rem 3.7rem 0rem 2rem;
    border-right: solid 0px transparent;
}

.common-chat-settings--main ul , .seen-messages-screen--main ul{
    margin-top: 2rem;
}


.common-chat-settings--main ul li{
    margin-top: 0.8rem;
    border-bottom: solid 1px #D8E6E7;
}

.common-chat-settings--main ul li label > div{
    position: relative;
}


.common-chat-settings--main ul li p{
    margin: 2px 0px 0px 0.4rem;
    font-size: 0.66rem;
    font-weight: normal;
}

.common-chat-settings .settings-buttons-container{
    margin: 2rem 2rem 1rem 2rem;
}

.settings-buttons-container button{
    width: 49%;
}

.settings-buttons-container button:nth-child(1){
    margin-right: 0.75rem;
}

.chat .chat-main-message.active .chat-message-text{
    background-color: #E4EEEF;
}

.chat .chat-main-message.disabled .chat-message-text{
    background-color: #E4EEEF;
    opacity: 0.35;
}


/* PRIVATE CHAT */

.private-chat .chat-heading-delete{
    justify-content: flex-end;
    padding-right: 3rem;
}

.private-chat .private-chat-info{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.private-chat .last-connection-time{
    font-weight: 300;
    font-size: 0.72rem;
    color: #282A2E;
    margin-left: 0.72rem;
}

.private-chat .chat-sub-heading{
    padding: 0rem 3rem 0rem 0.75rem;
    border-top: solid 1px #D8E6E7;
    padding-top: 0.9rem;
}

.private-chat .private-chat-user{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.private-chat .show-info-button{
    font-weight: 300;
    font-size: 0.72rem;
    color: #282A2E;
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.private-chat .private-chat-info a{
    color: #282A2E;
    font-weight: 300;
    font-size: 0.72rem;
    text-decoration: underline;
}

.private-chat .show-info-button.active{
    display: none;
}

.private-chat .hide-info{
    display: none;
}

.private-chat .hide-info.active{
    display: flex;
}

.private-chat .private-chat-info a:first-child{
    margin-right: 0.4rem;
}

.edit-chat .new-chat-input--container{
    width: 100%;
}

.edit-chat .new-chat-input--container input{
    width: 100%;
}

.edit-chat .accord-contact-container{
    display: flex;
}

.edit-chat .add-users-search h3{
    white-space: nowrap;
}

.edit-chat .accord-contact-container{
    overflow-x: hidden;
}

.edit-chat .accord-contact {
    max-width: 21rem;
}

.left-col-list{
    flex-direction: column;
    overflow-y: scroll;
    height: -webkit-fill-available;
    display: flex;
}

.left-col-list .left-col-message:last-child{
    padding-bottom: 30px;
}