.chat-alert{
    position: absolute;
    color: #FFF;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.33rem;
    font-size: 1.1rem;
    border-radius: 4px;
    z-index: 111;
    display: none;
}

.chat-success-alert{
    background: #76CBC6;
}

.chat-delete-alert{
    background: #EC5252;
}

.chat-alert.active{
    display: flex;
}

.chat-alert button{
    color: #FFF;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-left: 0.2rem;
}

