/* .chat{
    display: none;
} */

.chat.active{
    display: block;
}

.chat-main{
    overflow-y: scroll;
    height: 70vh;

}

.chat .lg-heading{
    padding: 7rem 0rem;
    text-align: center;
}

.chat .first-message{
    text-align: center;
    font-size: 1.16rem;
    padding-bottom: 0.5rem;
    font-weight: 300;
}

.chat-new-hint svg{
    display: block;
    margin: 0 auto;
}

.chat-main{
    margin: 0.5rem 0.5rem 0rem 0.5rem;
}