.all-contacts{
    margin-left: 4em;

}

.accord-contact{
    display: flex;
    padding-right: 2.85em;

}

.accord-contact-container{
    overflow-y: scroll;
    margin-right: 1em;
    height: 65vh;

}

.all-contacts > div:first-child{
    padding-bottom: 1.7em;
}

.accord-contact-head{
    cursor: pointer;
    font-weight: 400;
    border-bottom: solid 1px #D8E6E7;
    padding: 0.3em 0em 0.1em 0em;
    width: 100%;
}

.accord-contact .number-contacts{
    font-size: 0.67em;
    color: #4E5564;
    margin: 0em 0.6em 0em 1.4em;

}

.accord-contact-head input{
    display: none;
}

.accord-contact-head svg{
    transition: 0.3s;
}

.accord-contact-head input:checked ~ svg{
    transform: rotate(180deg);
}

.accord-description:nth-child(1){
    display: none;
}

.accord-contact-head input:checked ~ .accord-description{
    height: 3em;
    opacity: 1;
    position: static;
    cursor: pointer;
}

.add-users .accord-contact-head input:checked ~ .accord-description-container .parent-checkbox-sub{
    height: auto;
    opacity: 1;
    position: static;
    z-index: 1;
    cursor: default;
    overflow: visible;
}

.add-users .parent-checkbox-sub{
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -1;
    overflow:hidden;
    cursor: default !important;

}

.accord-description {
    display: flex;
    align-items: center;
    height: 0em;
    transition: 0.3s;
    opacity: 0;
    margin-left: 1rem;
    border-top: solid 1px #D8E6E7;

}

.accord-contact-head .accord-description:nth-child(5){
    padding-left: 1rem;
    margin-left: 0rem;
    margin-top: 0.26rem;
}

.accord-description .parent{
    font-size: 0.77rem;
    padding: 0em 0.6rem;
}

.accord-description .child{
    padding-top: 1px;
}

.add-users .accord-description-container{
    display: flex;
    flex-direction: column;
}

.add-users .accord-contact label{
    font-weight: 400;
    cursor: pointer;
    padding: 0.33em 0em;
    display: flex;
    font-size: 0.77rem;
    margin-bottom: -2px;
}

.add-users .accord-contact input:checked ~ .accord-description-container .accord-description{
    opacity: 1;
    height: auto;
    padding-bottom: 1rem;
    margin-top: 4px;
}

.add-users .accord-contact .accord-description{
    margin-top: -1.38rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: default;
}

.add-users .accord-contact .parent{
    padding-left: 1.9rem;
}

.add-users .accord-description:nth-child(2){
    display: flex;
}
/* 
.add-users .accord-description:nth-child(2){
    padding-left: 0;
} */

.add-users .accord-contact-head .accord-description:nth-child(2){
    padding-left: 1rem;
    margin-left: 0rem;
    margin-top: 0.26rem;
}

.add-users .contact-head-label{
    display: flex;
    align-items: center;
    z-index: 10;
}

.add-users .contact-head-label svg{
    color: #495A5B;
    width: 0.6rem;
    margin-top: 2px;
}

.add-users .contact-head-label span{
    margin: 0rem 0.88rem 0rem 1.6rem;
}

.add-users .accord-contact-head{
    cursor: default;
}

.add-users .contact-head-label .checkmark{
    left: -1.6rem;
    top: -0.3rem;
}

.add-users .accord-description-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.add-users .accord-contact{
    flex-direction: column;

}

.add-users .accord-description{
    padding-left: 1rem;
    margin: 0;
    
}

.add-users .accord-description-container.sub-description .parent-checkbox{
    margin-left: 2rem;
    display: flex;
}

.add-users .accord-description-container .all-parents-check{
    font-weight: 500;
}

.add-users .accord-description-container.sub-description{
    display: flex;
}

.add-users .accord-description-group{
    display: flex;
    flex-direction: row;
}

.add-users .accord-description-group > div, .add-users .accord-description{
    border-top: solid 1px transparent;
    cursor: pointer;
}

.add-users .accord-contact-head{
    border-bottom: solid 1px transparent;
}

.add-users .accord-contact-container{
    margin-right: -1.75rem;
}

.all-parents-check{
    white-space: nowrap;

}

.add-users .accord-contact-container{
    height: 45vh;
}

.add-users .parent-checkbox .parent{
    padding-top: 0.15rem;
}

.all-contacts .accord-contact-head label{
    font-weight: 400;
    cursor: pointer;
}

.all-contacts .accord-contact-head input:checked ~ .accord-contact-head .accord-description{
    height: 4rem;
    opacity: 1;

}

.edit-chat .accord-contact-container{
    position: relative;
}

.edit-chat .accord-contact-container .accord-contact{
    padding-bottom: 80px;
}

.edit-chat .accord-contact:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #FFF);
    z-index: 1;
}

.add-users .settings-buttons-container{
    position: relative;
}

.new-chat-input--container{
    position: relative;
}

.new-chat-input--container__placeholder{
    content: 'Новый чат';
    font-size: 0.77rem;
    color: #282A2E;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    left: 15px;
    z-index: 1;
    font-weight: 400;
    transition: 0.15s ease-in-out;
}

.new-chat-input--container input:focus ~ .new-chat-input--container__placeholder{
    position: absolute;
    top: -0.1rem;
    font-weight: 400;
    left: 1rem;
    font-size: 0.67rem;
    padding: 0rem 0.225rem;
    background-color: #FFF;
    color: #363945;
}