.chat-container-main .chat-main-col{
    padding: 0;
}

.chat-left-col{
    border-right: solid 1px #D8E6E7;
}

.left-col-header{
    margin: 1.1rem 1.1rem 0em 1.1rem;
}

.left-col-header p{
    margin-left: 0.55rem;
}

.left-col-list{
    overflow-y: scroll;
}

.left-col-list li{
    list-style-type: none;
    padding: 1.1rem;
    position: relative;
    border-top: solid 1px #D8E6E7;
    cursor: pointer;

}

.left-col-list li .short-desc{
    display: flex;
    flex-direction: column;
}

.left-col-list li .name{
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.83rem;
    color: #282A2E;
}

.left-col-list li .short-desc-row{
    display: flex;
    justify-content: space-between;

}

.left-col-list li .message, .left-col-list li .time{
    font-size: 0.67rem;
}

.left-col-list .unread-messages{
    position: absolute;
    right: 0;
    top: 0.78rem;
    right: 1.1rem;
    background: #EC5252;
    padding: 0.6rem;
    border-radius: 1.8rem;
    color: #FFF;

}

.left-col-list .unread-messages p{
    position: absolute;
    top: 0.13rem;
    left: 0.42rem;
    font-size: 0.67rem;

}

.left-col-list li.active{
    background: #E4EEEF;
}

.left-col-list li.active  .unread-messages, .left-col-list li.active .time{
    display: none;
}

/* WELCOME SCREEN */

.welcome-chat{
    padding: 0em 0.25em;
    margin-top: 10.5em;
    display: none;
}

.welcome-chat .sm-text{
    padding-bottom: 1.25em;
}

.welcome-chat.active{
    display: block;
}

/* ALL CONTACTS */

.all-contacts {
    display: none;
}

.all-contacts.active{
    display: block;
}

/* NEW CHAT */

.new-chat {
    display: none;
    padding: 1.12em 3.44em 1.12em 1.38em;
}

.new-chat.active{
    display: block;
}

.new-chat-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-search-input{
    width: 100%;
    position: relative;
    border: none;
    font-weight: 400;
}

.new-search-input::placeholder{
    color: #282A2E;
    font-size: 0.77rem;
}

.new-chat-input--container{
    position: relative;
    border: solid 1px #D8E6E7;
    width: 80%;
    padding: 0.5rem 1rem;
    color: #282A2E;
    border-radius: 3px;
    margin: 1rem 0rem 0rem 0rem;
}

.new-chat-input--container input{
    outline: none;
}

.new-chat-input--container:after{
    content: 'Название чата';
    position: absolute;
    top: -0.55rem;
    font-weight: 400;
    left: 1rem;
    font-size: 0.67rem;
    padding: 0rem 0.225rem;
    background-color: #FFF;
    color: #363945;
}

.new-chat-main{
    margin-top: 7.94rem;
}

.new-chat-main svg{
    display: block;
    margin: 0 auto;
}

.new-chat-main h3{
    color: #5BC0BA;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    text-align: center;;
}

/* ADD USERS */

.add-users {
    display: none;
}

.add-users .new-chat-input--container{
    margin: 1.25rem 0rem 0.95rem;
    width: 68%;
}

.add-users .add-users-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.add-users .add-users-search .search-container{
    width: 50%;
}

.add-users .add-users-search h3{
    margin: 0em;
}

.add-users .cancel-btn{
    max-width: 174px;
    margin-top: 1.7rem;

}

.add-users .create-btn{
    max-width: 264px;
    margin:0rem 1rem;
}