.chat-container-main .chat-main-col{
    padding: 0;
}

.chat-left-col{
    border-right: solid 1px #D8E6E7;
}

.left-col-header{
    margin: 1.1rem 1.1rem 0em 1.1rem;
}

.left-col-header p{
    margin-left: 0.55rem;
}

.left-col-list{
    overflow-y: scroll;
    height: 55vh;
}

.left-col-list li{
    list-style-type: none;
    padding: 1.1rem;
    position: relative;
    border-top: solid 1px #D8E6E7;
    cursor: pointer;

}

.left-col-list li .short-desc{
    display: flex;
    flex-direction: column;
}

.left-col-list li .name{
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.83rem;
    color: #282A2E;
}

.left-col-list li .short-desc-row{
    display: flex;
    justify-content: space-between;

}

.left-col-list li .message, .left-col-list li .time{
    font-size: 0.67rem;
}

.left-col-list .unread-messages{
    position: absolute;
    right: 0;
    top: 0.78rem;
    right: 1.1rem;
    background: #EC5252;
    padding: 0.6rem;
    border-radius: 1.8rem;
    color: #FFF;

}

.left-col-list .unread-messages p{
    position: absolute;
    top: 0.13rem;
    left: 0.42rem;
    font-size: 0.67rem;

}

/* Welcome Screen */

.welcome-chat{
    padding: 0em 0.25em;
    margin-top: 10.5em;
    display: none;
}

.welcome-chat .sm-text{
    padding-bottom: 1.25em;
}

.welcome-chat.active{
    display: block;
}

/* All contacts */

.all-contacts {
    display: none;
}

.all-contacts.active{
    display: block;
}