/* MEDIA 1520PX */

@media screen and (max-width: 1520px){
    .chat-footer{
        position: sticky;
        bottom: 0;
        left: 0;
    }
    .chat-container{
        flex-grow: 1;
    }    
}

/* MEDIA 1400PX */

@media screen and (max-width: 1400px){
    .add-users .accord-contact-container {
        height: 38vh;
    }
    .edit-chat .accord-contact-container {
        height: 48vh;
    }
    .all-contacts .accord-contact-container .accord-contact {
        padding-bottom: 20px;
    }
}

/* MEDIA 1128PX */

@media screen and (max-width: 1128px){
    body{
        overflow-y: auto;
    }
    html{
        font-size: 16px;
    }
    .chat-container-tabs{
        margin-top: 0px;
    }
    .add-users .new-chat-input--container{
        width: 65%;
    }
    .chat-container{
        margin-top: 0rem;
    }
    
    .seen-messages-screen--main{
        max-height: none;
    }
    .modal-delete .modal-content .btn-container{
        flex-direction: column;
    }
    .modal-delete .modal-content{
        width: 90vmin;
    }
    .modal-delete .modal-content .btn-container div:nth-child(1){
        padding: 0rem;
        border-right: solid 1px transparent;
    }
    .modal-delete .modal-content .btn-container{
        margin-top: 0rem;
        padding-top: 1rem;
    }
    .modal-delete .modal-content h3{
        text-align: center;
    }
    .modal-delete .modal-content .btn-container div:nth-child(2){
        padding-left: 0rem;
    }
    .modal-delete .modal-content .btn-container div button{
        margin: 0.5rem 0rem;
        max-width: 100%;
    }
}

/* MEDIA 992PX */

@media screen and (max-width: 992px){
    html{
        font-size: 28px;
    }
    body{
        overflow-y: scroll !important;
    }
    .welcome-chat{
        padding: 0em 0.25rem;
        margin-top: 7.5rem;
    }
    .accord-contact{
        display: flex;
        padding-right: 1.45rem;
    }
    .all-contacts{
        margin-left: 0.5rem;
    
    }
    .accord-description svg{
        display: none !important;
    }
    .new-chat-main{
        margin-top: 5rem;
    }
    .new-chat.add-users{
        padding: 1.02em 1.44em 1.12em 1.08em;
    }
    .add-users .new-chat-input--container{
        margin: 1.25rem 0rem 0.95rem;
        width: 48%;
    }
    .add-users .add-users-search{
        flex-direction: column;
    }
    .add-users .add-users-search h3{
        margin: 1.3rem 0rem 0.65rem;
    }
    .add-users .add-users-search .search-container{
        width: 100%;
    }
    .add-users .accord-description-container, .add-users .accord-description-group{
        flex-direction: column;
    }
    .add-users .accord-contact-container {
        height: 68vh;
    }
    .add-users .create-btn{
        margin: 1rem 0rem 0rem;
    }
    .add-users .cancel-btn{
        margin-top: 0.7rem;
    
    }
    .chat-heading{
        padding: 0.5rem 0rem;
    }
    .chat-heading div:nth-child(3){
        justify-content: flex-start;
    }
    .chat-heading div:nth-child(1){
        padding-left: 0.25rem;
    }
    .chat-heading div:nth-child(4){
        justify-content: flex-start;
        margin-top: -1rem;
    }
    .seen-messages-screen--main .col:nth-child(1),.seen-messages-screen--main .col:nth-child(2) {
        padding: 0rem 1.5rem 0rem 2.5rem;
    }
    .common-chat-settings .chat-heading{
        margin: 0.6rem 0rem;
    }
    .chat-tab{
        font-size: 0.8rem;
    }
    h3{
        padding: 0rem 0rem 0.5rem 0rem;
    }
    .chat .chat-heading-settings{
        padding-left: 0rem;
    }
    .chat .chat-heading-settings .edit-btn-sm{
        padding: 0.4rem 0.4rem;
    }
    .create-chat-btn{
        max-width: 100%;
    }
    .modal-delete .modal-content h3{
        margin: 0rem;
    }
    .hide-screen{
        display: none !important;
    }
    .chat-main{
        height: 80vh;
    }
    .edit-chat .accord-contact-container .accord-contact{
        height: fit-content;
        overflow: hidden;
    }
    .left-col-list:before{
        display: none;
    }
    
    .accord-contact-container .accord-contact {
        padding-bottom: 0;
    }
}

/* MEDIA 768PX */

@media screen and (max-width: 768px){
    html{
        font-size: 27px;
    }
    .create-chat-btn{
        max-width: 100%;
    }
    .welcome-chat{
        padding: 0em 0.25em;
        margin-top: 5.5em;
    }
    .accord-contact{
        margin-right: 0em;
    }
    .left-col-list {
        height: fit-content;
    }
    .chat-container-tabs{
        font-size: 0.75em;
    }
    .accord-contact-container{
        margin-right: 0;
    }
    .accord-contact-head .accord-description:nth-child(5){
        padding-left: 0 !important;
    }
    .accord-description{
        margin-left: 0 !important;
    }
    .all-contacts-btn p{
        font-size: 0.72rem;
    }
    .all-contacts h2{
        font-size: 1.1rem;
    }
    .all-contacts > div:first-child{
        padding-right: 0.5rem;
    }
    .accord-description{
        text-align: start;
        align-items: self-start;
        flex-direction: column;
        justify-content: center;
    }
    .accord-contact-head svg{
        width: 0.51rem;
        display: inherit;
        margin: 0.2em 0em 0em 0em;
    }
    .accord-description .parent{
        padding: 0em;
    }
    .accord-contact-head{
        padding: 0em 0em 0.1em 0em;
    }
    .accord-contact-head input:checked ~ .accord-description{
        height: 2.25em;
    }
    .accord-contact .number-contacts{
        margin: 0;
        display: block;
        font-size: 0.7rem;
    }
    .md-text{
        font-size: 1.02rem;
    }
    .lg-heading{
        font-size: 1.2rem;
    }
    .accord-contact-container{
        height: 100vh;
    }
    .new-chat {
        padding: 0.52em 0.44em 1.12em 1.38em;
    }
    .new-chat-heading {
        flex-direction: column;
    }
    .new-chat-main svg{
        width: 3.44rem;
    }
    .new-chat-main{
        margin-top: 3rem;
    }
    h3{
        font-size: 1rem;
    }
    .new-chat-input--container{
        padding: 0.3rem 1rem;
        width: 100%;
    }
    .add-users .new-chat-input--container{
        margin: 1.25rem 0rem 0.95rem;
        width: 80%;
    }
    .chat .first-message{
        font-size: 0.96rem;
    }
    .chat-new-hint{
        padding: 0.75rem;
    }
    .chat .send-messages-col{
        padding: 0rem;
    }
    .chat-heading div:nth-child(4){
        margin-top: 0rem;
    }
    .hide-screen{
        display: none;
    }
    .chat-footer .message-input{
        min-height: 1rem !important;
    }
    .chat-main-message svg{
        max-width: 24px;
    }
    .chat-message-text{
        padding: 1rem 1.8rem;
    }
    .chat-heading-delete{
        padding-top: 3px;
    }
    .seen-messages-screen .chat-heading-back{
        justify-content: flex-start;
        padding-left: 2rem;
    }
    .mobile-full-height{
        height: 100%;
    }
    .seen-messages-screen .chat-heading-back{
        padding-bottom: 0.75rem;
    }
    
    .chat-heading div:nth-child(1){
        padding-left: 2rem;
    }

    .seen-messages-screen .chat-heading{
        padding-top: 0.75rem;
    }
    .chat-heading-delete{
        padding-top: 1px;
    }
    .chat-heading > div button{
        align-items: center;
    }
    .edit-btn-sm{
        padding: 0.4rem 0.8rem;
    }
    .chat .edit-btn-sm p{
        display: none;
    }
    .chat .edit-message-btn svg, .chat .delete-message-btn svg, .chat .resend-message-btn svg{
        width: 0.7rem;
        height: 0.7rem;
    }
    .chat .edit-btn-sm svg{
        margin-right: 0;
    }
    .chat-heading-edit{
        margin: 0.68rem 0rem 0.5rem 0rem;
        align-items: center;
        display: flex;
    }
    .chat-heading-settings-col{
        padding-left: 1rem;
    }
    .chat-heading-settings-col{
        justify-content: center;
    }
    .chat-heading-edit-col{
        padding-left: 0;
    }
    
    .chat .edit-btn-sm{
        padding: 0.3rem 0.5rem;
    }
    .custom-modal .modal-content{
        padding: 1rem 2.55rem;
    }
    .resend-people-list button > div svg{
        width: 2rem;
        height: 2rem;
    }
    .resend-people-list .arrow-next {
        width: 1rem;
        height: 1rem;
    }
    .welcome-chat{
        height: 100vh;
    }
    .send-messages-col .quoted-message-text span{
        display: none;
    }
    .chat-footer .send-messages-col.edit textarea {
        padding-top: 0.75rem !important;
    }
    .edit-chat .accord-contact-container{
        flex-direction: column;
    }
    .edit-chat .accord-contact-container{
        height: fit-content;
    }
    .chat-main .chat-main-message:last-child{
        padding-bottom: 60px;
    }
    
}

/* MEDIA 568PX */

@media screen and (max-width: 568px){
    html{
        font-size: 22px;
    }
    .welcome-chat{
        padding: 0em 1.5rem;
        margin-top: 3.5rem;
    }
    .left-col-list li .name {
        font-size: 0.97rem;
    }
    
    .left-col-list li .message{
        font-size: 0.87rem;
    }
    .left-col-list li {
        padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    }
    .left-col-list .unread-messages{
        top: 0.38rem;
        right: 0.5rem;
    }
    .create-btn, .cancel-btn{
        padding: 0.64rem 0rem;
    }
    .search-container{
        padding: 0.44rem 0rem;
    }
    .create-btn-transparent{
        padding: 0.64rem 0rem;
    }
    .new-chat {
        padding: 0.12em 0.44em 1.12em 0.44em;
    }
    .new-chat-heading h3{
        margin-top: 1rem;
    }
    .add-users .accord-contact-container {
        margin-right: 0rem;
    }
    body{
        background-color: #FFF;
    }
    .hide-seen-info{
        left: -8rem;
    }
    .hide-seen-info:after{
        left: 8.5rem;
    }
    .seen-messages-screen--main .col:nth-child(1),.seen-messages-screen--main .col:nth-child(2) {
        padding: 0rem 1.5rem 0rem 1.5rem;
    }
    .settings-buttons-container button{
        width: 100%;
    }
    .common-chat-settings .settings-buttons-container{
        margin: 1.5rem 0.65rem 1rem 0.65rem;
        display: flex;
    }
    .seen-messages-screen--main .col h4{
        font-size: 1rem;
    }
    .seen-messages-screen--main .col ul{
        margin-top: 1rem;
    }
    .edit-btn-sm{
        padding: 0.5rem 0.5rem;
    }
    .chat .chat-heading-name-col{
        padding-bottom: 0.3rem;
    }
    .cancel-create-btn:after, .cancel-create-btn:before{
        height: 1.12rem;
    }
    .chat-main{
        padding: 0.5rem 1rem 5rem 0.58rem;
    }
    .private-chat .chat-sub-heading {
        padding: 0.6rem 0.75rem 0rem 0.75rem;
    }
    .chat-heading div:nth-child(1) {
        padding-left: 0rem;
    }
    .chat-heading.row{
        display: flex;
        align-items: center;
    }
    .chat-heading div:nth-child(3) {
        justify-content: center;
    }
    .chat-heading .chat-heading-btn .default-text{
        display: none;
    }
    .search-container input{
        font-size: 0.86rem;
    }
    .seen-messages-screen .chat-heading {
        height: auto !important;
        flex-direction: column;
        padding: 1rem 1.5rem 0.5rem 1.5rem;
    }
    .private-chat .private-chat-user {
        padding: 0;
    }
    .left-col-list .left-col-message:last-child{
        padding-bottom: 10px;
    }
    
}

/* MEDIA 480PX */

@media screen and (max-width: 480px){
    html{
        font-size: 17px;
    }
    .new-chat.add-users{
        padding: 0em 0.44em 1.12em 0.48em;
    }
    .add-users .create-btn, .add-users .cancel-btn{
        max-width: 100%;
    }
    .seen-messages-screen--main{
        max-height: 100%;
        flex-direction: column;
    }
    .cancel-btn{
        max-width: 264px;
    }
    .chat-heading.row{
        height: 50px;
    }
    .chat-heading-edit.row{
        height: 39px;
    }
}

/* MAX-HEIGHT */

@media screen and (min-height: 100px ) and (max-height: 640px){
    body.overflow-hidden .resend-people-list{
        max-height: 40vh;
    }
}