@media screen and (max-width: 1520px){
    .chat-footer{
        position: sticky;
        padding-top: 5rem;
        bottom: 0;
        left: 0;
    }
    .chat-container{
        flex-grow: 1;
    }    
}

@media screen and (max-width: 1400px){
    .add-users .accord-contact-container {
        height: 38vh;
    }
}

@media screen and (max-width: 1128px){
    body{
        overflow-y: auto;
    }
    html{
        font-size: 16px;
    }
    .chat-container-tabs{
        margin-top: 0px;
    }
    .add-users .new-chat-input--container{
        width: 65%;
    }
    .chat-container{
        margin-top: 0rem;
    }
}

@media screen and (max-width: 992px){
    html{
        font-size: 15px;
    }
    .welcome-chat{
        padding: 0em 0.25rem;
        margin-top: 7.5rem;
    }
    .accord-contact{
        display: flex;
        padding-right: 1.45rem;
    }
    .all-contacts{
        margin-left: 0.5rem;
    
    }
    .accord-description svg{
        display: none !important;
    }
    .new-chat-main{
        margin-top: 5rem;
    }
    .new-chat.add-users{
        padding: 1.02em 1.44em 1.12em 1.08em;
    }
    .add-users .new-chat-input--container{
        margin: 1.25rem 0rem 0.95rem;
        width: 48%;
    }
    .add-users .add-users-search{
        flex-direction: column;
    }
    .add-users .add-users-search h3{
        margin: 1.3rem 0rem 0.65rem;
    }
    .add-users .add-users-search .search-container{
        width: 100%;
    }
    .add-users .accord-description-container, .add-users .accord-description-group{
        flex-direction: column;
    }
    .add-users .accord-contact-container {
        height: 68vh;
    }
    .add-users .create-btn{
        margin: 1rem 0rem 0rem;
    }
    .add-users .cancel-btn{
        margin-top: 0.7rem;
    
    }
    .chat-heading{
        padding: 0.5rem 0rem;
    }
    .chat-heading div:nth-child(3){
        justify-content: flex-start;
    }
    .chat-heading div:nth-child(1){
        padding-left: 0.25rem;
    }
    .chat-heading div:nth-child(4){
        justify-content: flex-start;
        margin-top: -1rem;
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 15px;
    }
    .welcome-chat{
        padding: 0em 0.25em;
        margin-top: 5.5em;
    }
    .accord-contact{
        margin-right: 0em;
    }
    .left-col-list {
        height: 100vh;
    }
    .chat-container-tabs{
        font-size: 0.75em;
    }
    .accord-contact-container{
        margin-right: 0;
    }
    .accord-contact-head .accord-description:nth-child(5){
        padding-left: 0 !important;
    }
    .accord-description{
        margin-left: 0 !important;
    }
    .all-contacts-btn p{
        font-size: 0.67rem;
    }
    .all-contacts h2{
        font-size: 1.1rem;
    }
    .all-contacts > div:first-child{
        padding-right: 0.5rem;
    }
    .accord-description{
        text-align: start;
        align-items: self-start;
        flex-direction: column;
        justify-content: center;
    }
    .accord-contact-head svg{
        width: 0.51rem;
        display: inherit;
        margin: 0.2em 0em 0em 0em;
    }
    .accord-description .parent{
        padding: 0em;
    }
    .accord-contact-head{
        padding: 0em 0em 0.1em 0em;
    }
    .accord-contact-head input:checked ~ .accord-description{
        height: 2.25em;
    }
    .accord-contact .number-contacts{
        margin: 0;
        display: block;
        font-size: 0.7rem;
    }
    .md-text{
        font-size: 0.82rem;
    }
    .lg-heading{
        font-size: 1.2rem;
    }
    .accord-contact-container{
        height: 100vh;
    }
    .new-chat {
        padding: 0.52em 0.44em 1.12em 1.38em;
    }
    .new-chat-heading {
        flex-direction: column;
    }
    .new-chat-main svg{
        width: 3.44rem;
    }
    .new-chat-main{
        margin-top: 3rem;
    }
    h3{
        font-size: 1rem;
    }
    .new-chat-input--container{
        padding: 0.3rem 1rem;
        width: 100%;
    }
    .add-users .new-chat-input--container{
        margin: 1.25rem 0rem 0.95rem;
        width: 80%;
    }
    .chat .first-message{
        font-size: 0.96rem;
    }
    .chat-new-hint{
        padding: 0.75rem;
    }
    .chat .send-messages-col{
        padding: 0.15rem 0.15rem;
    }
    .chat-heading div:nth-child(4){
        margin-top: 0rem;
    }
    
}

@media screen and (max-width: 568px){
    body{
        overflow-y:hidden;
    }
    .welcome-chat{
        padding: 0em 1.5rem;
        margin-top: 3.5rem;
    }
    .left-col-list li .name {
        font-size: 0.77rem;
    }
    .left-col-list li {
        padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    }
    .left-col-list .unread-messages{
        right: 0.5rem;
        top: 0.38rem;
        padding: 0.4rem;
    }
    .left-col-list .unread-messages p{
        top: 0rem;
        left: 0.25rem;
        font-size: 0.57rem;
    }
    .create-btn{
        padding: 0.64rem 0rem;
    }
    .search-container{
        padding: 0.44rem 0rem;
    }
    .create-btn-transparent{
        padding: 0.64rem 0rem;
    }
    .new-chat {
        padding: 0.12em 0.44em 1.12em 0.44em;
    }
    .new-chat-heading h3{
        margin-top: 1rem;
    }
    .add-users .accord-contact-container {
        margin-right: 0rem;
    }
    .add-users .accord-contact-container {
        height: 45vh;
    }
}

@media screen and (max-width: 480px){
    html{
        font-size: 12px;
    }
    .new-chat.add-users{
        padding: 0em 0.44em 1.12em 0.48em;
    }
}