@media screen and (max-width: 1128px){
    body{
        overflow-y: auto;
    }
    html{
        font-size: 16px;
    }
    .chat-container-tabs{
        margin-top: 0px;
    }
}

@media screen and (max-width: 992px){
    html{
        font-size: 15px;
    }
    .welcome-chat{
        padding: 0em 0.25em;
        margin-top: 7.5em;
    }
    .accord-contact{
        display: flex;
        padding-right: 1.45em;
    }
    .all-contacts{
        margin-left: 0.5em;
    
    }
    .accord-description svg{
        display: none;
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 14px;
    }
    .welcome-chat{
        padding: 0em 0.25em;
        margin-top: 5.5em;
    }
    .accord-contact{
        margin-right: 0em;
    }
    .left-col-list {
        height: 100vh;
    }
    .chat-container-tabs{
        font-size: 0.75em;
    }
    .accord-contact-container{
        margin-right: 0;
    }
    .accord-contact-head .accord-description:nth-child(5){
        padding-left: 0 !important;
    }
    .accord-description{
        margin-left: 0 !important;
    }
    .all-contacts-btn p{
        font-size: 0.75em;
    }
    .all-contacts h2{
        font-size: 1.1em;
    }
    .all-contacts > div:first-child{
        padding-right: 0.5em;
    }
    .accord-description{
        text-align: start;
        align-items: self-start;
        flex-direction: column;
        justify-content: center;
    }
    .accord-contact-head svg{
        width: 0.51em;
    }
    .accord-description .parent{
        padding: 0em;
    }
    .accord-contact .number-contacts{
        margin: 0;
        display: block;
    }
    .md-text{
        font-size: 0.72em;
    }
}

@media screen and (max-width: 568px){
    html{
        font-size: 13px;
    }
    .welcome-chat{
        padding: 0em 0.25em;
        margin-top: 3.5em;
    }
    .left-col-list li .name {
        font-size: 0.68em;
    }
    .left-col-list li {
        padding: 0.5em 0.5em 0.25em 0.5em;
    }
    .left-col-list .unread-messages{
        right: 0.5em;
        top: 0.38em;
        padding: 0.4em;
    }
    .left-col-list .unread-messages p{
        top: 0.03em;
        left: 0.41em;
        font-size: 0.57em;
    }
    .create-btn{
        padding: 0.64rem 0rem;
    }
    .search-container{
        padding: 0.44rem 0rem;
    }
    .create-btn-transparent{
        padding: 0.64rem 0rem;
    }
}

@media screen and (max-width: 480px){
    html{
        font-size: 12px;
    }
}