.search-container{
    border: solid 1px #D8E6E7;
    border-radius: 0.22rem;
    padding: 0.77rem 0rem;

    display: flex;
    align-items: top;

}

.search-container svg{
    margin: 0px 0.5rem 0px 0.55rem;
    cursor: pointer;
}

.search-container input{
    border: none;
    font-family: Roboto;
    font-size: 0.67rem;
    color: #7B9698;

    width: 100%;
    margin-right: 0.33em;
}