.chat-container-tabs{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 1em;
    border-bottom: solid 1px #D8E6E7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    margin-top: 2.6em;
}

.chat-tab{
    padding: 0.67em 0px;
    color: #586066;
    background-color: #FFF;
    cursor: pointer;
}

.chat-tab.active{
    font-weight: 500;
    background: #E4EEEF;
    color: #615D6A;
}